<div id="user"><header>
        <h1>Hello: {{name}} {{surname}}</h1>
        {{#if signature}}
            <p>thanks for signing this petition</p>
        {{/if}}
    </header>

    <div id="signature">

        {{#if signature}}<img src="{{signature}}" />
        {{else}}
            <div id="nosign">
                <p> You havent sign the petition yet</p>
                <form><a href="/sign"> sign</a>
                </form>
            </div>
        {{/if}}

    </div></div>
<div id="info">
    <div class="data">
        <p>Age:<br /><br />{{age}}</p>
        <p>City:<br /><br />{{city}}</p>
        <p>Country:<br /><br />{{country}}</p>
        <p>Website:<br /><br />{{link}}</p>
    </div>
    <div id="buttons">
        <form action="/edit" method="get">
            <button type="submit">Update Informations</button>
        </form>
        <form action="/deletesignature" method="post">
            <button type="submit">Delete Signature</button>
        </form>

        <form action="/logout" method="get">
            <button type="submit">Log out</button>
        </form>

    </div>
</div>