<h1>We stand for animate:</h1>

<div id="grid">
    <div class="header">Name</div>
    <div class="header">Age</div>
    <div class="header">City</div>
    <div class="header">Country</div>

    {{#signers}}
        <div class="data"><a href="{{link}}">{{name}}</a></div>
        <div class="data">{{age}}</div>
        <div class="data"><a href="./signers?ct={{city}}">{{city}}</a></div>
        <div class="data"><a href="./signers?cn={{country}}">
                {{country}}</a></div>
    {{/signers}}

</div>